table, th, td{
	border:1px solid gray;
	border-collapse: collapse;
}

th, td{
	text-align:left;
	width:160px;
	height:30px;
}

th{
	background-color:silver;
	height:40px;
}

.widetd{
	width:250px;
	text-align:left;
	padding-left:20px;
}

input {
	width: 120px;
}

.tdfooter{
	border:none;
}

span{
	font
}

a{
	text-decoration:underline;
	cursor : pointer;
	font-weight: bold;
}

a:hover{
	color:green;
}